<%- include('../../layout/header'); -%>
<% 
const old = flashMessage.old?JSON.parse(flashMessage.old):undefined;
const errors = flashMessage.errors?JSON.parse(flashMessage.errors):undefined;
%>
<div class="container">
    <div class="text-center text-black">
        <h1 class="page-title">login</h1>
    </div>
    <hr>

    <div class="col-md-6 mx-auto card card-theme">
        
        <form method="POST" >

            <div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" value="<%- (typeof old !='undefined')?old.email:''; %>" class="form-control" id="email" name="email" >
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email:''; %></small>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="password">password:</label>
                    <input type="password" class="form-control" id="password" name="password" >
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password:''; %></small>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">login</button>
                <a class="btn btn-info" href="/registration">don't have account?</a>

            </div>


        </form>
        <hr/>
        <div class="">
             Forgot Password? <a href="/forgot-password">Click here</a>
        </div>
    </div>
</div>
<%- include('../../layout/footer'); -%>