<%- include('../../layout/header'); -%>
<% 
const old = flashMessage.old?JSON.parse(flashMessage.old):undefined;
const errors = flashMessage.errors?JSON.parse(flashMessage.errors):undefined;
%>
<div class="container">
    <div class="text-center">
        <h1 class="page-title">Reset password</h1>
    </div>
    <hr>
    <div class="col-md-6 mx-auto card card-theme">
      <p class="font-weight-bold text-center text-success">Set new password for <%= email %></p>
         
        <form method="POST">

            <div>
                <div class="form-group">
                    <label for="password">new password <span class="text-danger">*</span>:</label>
                    <input type="password" class="form-control" id="password" name="password" value="<%- (typeof old !='undefined')?old.password:''; %>" >
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password:''; %></small>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="confirm_password">confirm password <span class="text-danger">*</span>:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="<%- (typeof old !='undefined')?old.confirm_password:''; %>" >
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.confirm_password)?errors.confirm_password:''; %></small>
                </div>
            </div>
            <div class="text-center">
               
                <button type="submit" name="submit" class="btn btn-success">set new password</button>
            </div>


        </form>
        
    </div>
</div>
<%- include('../../layout/footer'); -%>